# Configurações do banco de dados PostgreSQL
# Você pode substituir estes valores por outros de sua escolha
# begin
DB_USER=pipoca
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ticket-manager-db

DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
# end


# Configurações do servidor
SERVER_PORT=8080